@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    font-family: $primary_font;
}
main {
    margin-top: 78px;
}
.home__header {
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.home__header {
    height: 78px;
}
.home__menu {
    min-width: 85%;
    background-color: #fff;
}

.home__menu__item {
    min-width: 15%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.home__header__logo {
    max-width: 15%;
    text-align: center;
}

.home__header__logo .header__logo__text {
    cursor: pointer;
}
