@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    font-family: $primary_font;
}
main {
    margin-top: 78px;
}
.home__header {
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.home__header {
    height: 78px;
}
.home__menu {
    background-color: #fff;
}

.home__menu__item {
    min-width: 15%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.home__header__logo {
    max-width: 15%;
    text-align: center;
}

.home__header__logo .header__logo__text {
    cursor: pointer;
}

.custom-menu .ant-menu-item-active,
.custom-menu .ant-menu-item-selected {
    background-color: transparent !important;
}

.option-add-time {
    background-color: #f1f5f9;
    transition: all 0.2s linear;
}

.option-add-time.active {
    background-color: #0e82fd;
}

.post-detail .content img {
    width: 100%;
    object-fit: contain;
}
.post-detail .content p {
    text-align: justify;
}
