@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: $primary_font;
}
main {
    margin-top: 78px;
}
//home page
.home__header {
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.home__header {
    height: 78px;
}
.home__menu {
    background-color: #fff;
}

.home__menu__item {
    min-width: 15%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.home__header__logo {
    max-width: 15%;
    text-align: center;
}
.block-category {
    .category-list .category-item {
        cursor: pointer;
        transition: all 0.3s linear;
    }
    .category-list .category-item:hover {
        transform: scale(1.1);
    }
}

.home__header__logo .header__logo__text {
    cursor: pointer;
}

.custom-menu .ant-menu-item-active,
.custom-menu .ant-menu-item-selected {
    background-color: transparent !important;
}

.option-add-time {
    background-color: #f1f5f9;
    transition: all 0.2s linear;
}

.option-add-time.active {
    background-color: #0e82fd;
}

.post-detail .content img {
    width: 100%;
    object-fit: contain;
}
.post-detail .content p {
    text-align: justify;
}

.posts {
    .post-title {
        margin-top: 0;
        margin-bottom: 0;
    }
    .post-title a {
        transition: all 0.3s ease;
        font-size: 13px;
        height: 60px;
        max-height: 60px;
        display: inline-block;
    }
    .post-title:hover a {
        color: #20c0f3 !important;
    }
}
.block-clinics {
    .clinic-item .clinic-img-container {
    }
    .clinic-img-container img {
        transition: transform 0.4s ease;
    }
    .clinic-img-container img:hover {
        transform: scale(1.1);
    }
    .clinic-item .clinic-name {
        transition: all 0.3s linear;
    }
    .clinic-item .clinic-name:hover {
        color: #20c0f3 !important;
    }
}

.post-detail {
    .post-title {
        margin-top: 0;
        margin-bottom: 0;
    }
    .post-title a {
        transition: all 0.3s ease;
        font-size: 13px;
        height: 60px;
        max-height: 60px;
        display: inline-block;
    }
    .post-title:hover a {
        color: #20c0f3 !important;
    }
}
.doctor-list {
    .doctor__name a {
        color: rgb(69, 195, 210);
    }
    .btn__more {
        color: rgb(69, 195, 210);
    }
    .list__item {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }
}

//doctor detail
.doctor-detail {
    .des p {
        margin-bottom: 5px;
    }
    .summary {
        background-color: rgb(227, 242, 255);
        border-radius: 6px;
        padding: 16px;
    }
    .summary h6 {
        gap: 8px;
        align-items: center;
    }
    .summary h6::before {
        display: block;
        content: '';
        width: 2px;
        height: 15px;
        background: #2d87f3;
    }
    .summary p {
        margin-bottom: 5px;
        font-size: 16px;
    }
    .ant-tabs-nav-wrap {
        justify-content: start;
    }
    .button-booking-now {
        transition: all 0.3s linear;
    }
    .button-booking-now:hover {
        background-color: #0e82fd !important;
        color: #fff !important;
    }
    .block-doctor-suggestion {
        .doctor-name {
            transition: all 0.3s linear;
        }
        .doctor-name:hover {
            color: #20c0f3;
        }
    }
}

.user-management {
    .ant-table-cell:first-child {
        width: 20%;
    }
    .ant-table-cell:nth-child(5) {
        width: 10%;
    }
}
.account-modal {
    label {
        display: inline-block;
        width: 80px;
    }
    .ant-form-item-explain-error {
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

// home page block common doctor
.block-common-doctor,
.block-watched-doctor {
    .block-container .ant-card {
        border: 1px solid #ccc;
        transition: all 0.5s linear;
    }
    .block-container .doctor-image {
        max-height: 250px;
        min-height: 250px;
        cursor: pointer;
    }

    .block-container .ant-card:hover {
        border: 1px solid rgb(13, 110, 253);
        .btn-book-now {
            background-color: rgb(13, 110, 253);
            color: #fff !important;
        }
    }
    .block-container .ant-card .ant-card-body {
        padding: 12px;
    }
    .ant-card-body .ant-image {
        display: block;
    }
    .block-container .button-container .btn-book-now {
        transition: all 0.5s linear;
    }

    .block-container .location {
        height: 40px;
    }
}

//doctor
.doctor-list {
    .card-item {
        display: flex;
        flex: 1 0 25%;
        box-sizing: border-box;
        cursor: pointer;
        padding: 12px 8px 8px 8px;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 16px;
        background: #fff;
        border-radius: 8px;
    }

    .cards .card-item .ant-card-body {
        padding: 10px;
    }
    .cards .clinic-info p:first-child {
        max-height: 40px;
    }
    .cards .card-item .clinic-info {
        border-radius: 8px;
        background: rgb(248, 249, 252);
        padding: 8px;
        max-height: 128px;
        font-size: 13px;
    }
    .cards .card-item .booking-btn {
        transition: all 0.2s linear;
    }
    .cards .card-item:hover {
        .card-container {
            border: 1px solid rgb(145, 202, 255) !important;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 40px 0px;
        }
        .booking-btn {
            background-color: #0e82fd;
            color: #fff;
        }
        .clinic-info {
            background: rgb(227, 242, 255);
        }
    }
}

// notification list
.notification-list {
    overflow: scroll;
    max-height: 300px;
    // .notification {
    //     transition: all 0.2s linear;
    //     cursor: pointer;
    // }
    // .notification:hover {
    //     background-color: #e6f7ff;
    // }
    /* Thông báo chưa đọc */
    .notification-unread {
        background-color: #fff; /* Màu nền sáng nổi bật */
        font-weight: 600; /* Đậm chữ để nổi bật */
    }

    .notification-unread:hover {
        cursor: pointer;
        background-color: #d5e4f4;
    }

    .notification-unread::before {
        content: '●'; /* Dấu chấm tròn nhỏ để biểu thị mới */
        color: #007bff;
        margin-right: 10px;
    }

    /* Thông báo đã đọc */
    .notification-read {
        background-color: #f2f6fc; /* Màu nền nhẹ cho thông báo đã đọc */
        font-weight: normal;
    }

    .notification-read:hover {
        box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
            0 1px 2px 0 rgba(60, 64, 67, 0.3),
            0 1px 3px 1px rgba(60, 64, 67, 0.15);
        z-index: 2;
        cursor: pointer;
    }
}

// doctor-management

.doctor-management {
}
.input-doctor-modal {
    .upload-doctor-image .ant-form-item-label:first-child {
        margin-left: 15px !important;
    }
}

//
