.home__content {
    .block__for__you {
        .block__list_item {
            cursor: pointer;
        }
        .block__title {
        }

        .block__heading:hover {
            opacity: 0.5;
        }
        .block__heading {
            color: #000;
        }
    }
    .block__services {
        .block__group {
            .block__list__item {
                .item__heading {
                    color: #000;
                    transition: all 0.1s linear;
                }
                .item__heading:hover {
                    opacity: 0.5;
                }
            }
        }
    }
    .block__specialization {
        .item {
            max-width: 400px;
            margin-left: 10px;
        }
    }
    .item .item__text {
        color: #000;
        font-weight: 600;
    }
    .block__hot__doctor {
        .block__list__item {
        }
        .block__list__item .item {
            max-width: 390px !important ;
            width: calc((100% / 4) - 3%);
        }

        .item__text div {
            opacity: 0.5;
            font-weight: 400;
        }
    }
    .carousel-container {
        position: relative;
        width: 80%;
        margin: 0 auto;
    }

    .carousel-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        opacity: 1;
        transition: opacity 0.3s;
    }

    .carousel-container:hover .carousel-arrow {
        opacity: 1;
    }

    .left-arrow {
        left: -5px;
    }

    .right-arrow {
        right: 10px;
    }
}
