.schedule-management {
    .time-slots {
        button {
            transition: all 0.3s linear;
            font-size: 14px;
            font-weight: 600;
            min-width: 110px;
        }
    }
}
